*{
    margin: 0;
    padding: 0;
}

.HomePage{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    background-color: blue;
    color: aliceblue;
}

ul.grid-articles{
    list-style-type: none;
    align-self: center;
}

a{
    text-decoration: none;
    color: black;
}

.grid-articles{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 10px;
    overflow: auto;
}

li{
    height: 200px;
    background-color: grey;
    border-radius: 10px;
}